@using Berberim.Entities
@model IEnumerable<Personel>

@{

	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Personel Listesi</h2>
<br />@* 
<a href="/Admin/Personel/PersonelEkle" class="btn btn-outline-primary">Yeni Personel Ekle</a> *@
<br />

<table class="table table-sm table-bordered table-sm-custom">
	<thead>
		<tr>
			<th>Id</th>
			<th>Adı Soyadı</th>
			<th>Uzmanlık Alanı</th>
			<th>Çalışma Saatleri</th>
			<th>Email</th>
			<th>Sifre</th>
			<th>Güncelle</th>
			<th>Sil</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var per in Model)
		{
			<tr>
				<td>@per.personelID</td>
				<td>@per.personelName</td>
				<td>@per.Uzmanliks.UzmanlikName</td>
				<td>@per.musaitSaat</td>
				<td>@per.personelEmail</td>
				<td>@per.personelPassword</td>

				<td><a href="/Admin/AdminLayout/GuncellePer/@per.personelID" class="btn btn-outline-info">Güncelle</a></td>
				<td><a href ="/Admin/AdminLayout/SilPer/@per.personelID" class="btn btn-outline-danger">Sil</a></td>
				
			</tr>
		}
	</tbody>
</table>